---
interface Props {
    title: string;
    fullWidth?: boolean;
}
const { title = "Title", fullWidth = false } = Astro.props;
---

<div class="flex w-full justify-center">
    <button
        class={`px-6 py-3 bg-sky-900 text-gray-50 text-lg font-bold rounded-xl hover:bg-sky-950 transition-colors ease-in-out duration-300 ${fullWidth ? 'w-full':''}`}
    >
        {title}
    </button>
</div>
