---

---

<header
    class="h-16 w-full flex justify-center px-[150px] text-gray-50 text-lg font-bold bg-gradient-to-r from-slate-900 via-slate-900 to-slate-700"
>
    <div class="h-full w-full max-w-[1440px] flex justify-between items-center">
        <a href="/">
            <img src="/kacero-logo.jpg" alt="Kacero logo" class="h-14" />
        </a>
        <ul class="flex gap-16 items-center">
            <li><a href="/">Inicio</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/about">Nosotros</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
        <button
            class="uppercase bg-sky-500 px-6 py-3 rounded-xl hover:bg-sky-950 transition-colors duration-300"
        >
            Contactanos
        </button>
    </div>
</header>

<style></style>
